version: 2
jobs:
  dependencies:
    docker:
      - image: circleci/php:7.1-browsers
    steps:
      - checkout
      - run: sudo apt-get install automake libtool
      - run: git clone https://github.com/alanxz/rabbitmq-c
      - run: cd rabbitmq-c && git checkout 2ca1774489328cde71195f5fa95e17cf3a80cb8a
      - run: cd rabbitmq-c && git submodule init && git submodule update && autoreconf -i && ./configure && make && sudo make install
      - run: sudo pecl channel-update pear.php.net
      - run: yes '' | sudo pecl install amqp-1.9.3
      - run: yes '' | sudo pecl install apcu-5.1.11
      - run: rm /opt/circleci/php/$(phpenv global)/etc/conf.d/xdebug.ini
      - run: cp etc/circleci/php.ini /opt/circleci/php/$(phpenv global)/etc/conf.d/
      - save_cache:
          paths:
            - ./vendor
          key: dependencies-{{ checksum "composer.json" }}

  test:
    docker:
      - image: circleci/php:7.1-browsers
    steps:
      - checkout
      - restore_cache:
          keys:
          - dependencies-{{ checksum "composer.json" }}
          # fallback to using the latest cache if no exact match is found
          - dependencies-
      - run: composer install --optimize-autoloader --prefer-dist
      - run: applications/api/bin/console cache:warmup --env=prod
      - run: ./vendor/bin/phpstan analyse -l 7 -c etc/phpstan/phpstan.neon applications/api/src applications/codely/src
      - run: ./vendor/bin/phpunit --exclude-group='disabled'
      - run: ./vendor/bin/behat -p applications --format=progress -v
      - run: ./vendor/bin/behat -p api --format=progress -v

workflows:
  version: 2
  build_and_test:
    jobs:
      - dependencies
      - test